html {

    background-color: azure;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 2px;
    margin: 2rem;
    padding: 1rem;

}

.center {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 35%;
}

#wrapper {
    grid-column: 1 / span 4;

}

#result {
    padding-left: 10px;
    grid-column: 1 / span 4;
    border-radius: 5px;
}

#calculation {
    padding: 1rem;
    text-align: center;
    grid-column: 1 / span 4;
}

#calculation,
#result {
    font-size: 1.2em;
}

#back {
    grid-column: 2/ span 2;
}

#equals {
    grid-column: 3 / span 2;
}

.calc {
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid grey;
    background-image: radial-gradient(rgba(95, 251, 241, 0.1) 25%, rgba(209, 107, 165, 0.1) 75%);
}

.num {
    background-image: radial-gradient(rgba(95, 251, 241, 0.4) 25%, rgba(209, 107, 165, 0.4) 75%);
}

button {

    color: rgb(104, 104, 104);
    cursor: pointer;
    border-radius: 5px;


}

button:hover {
    color: black;
    transform: scale(1.1);
}

button:active {
    opacity: 0.9;
    transform: scale(1.2);
    animation-duration: 0.3s;
}

/* responsive */

@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(7, 90px);
    }
}

@media only screen and (max-width: 768px) {
    .center {
        padding: 10px;
        margin-left: 5px;
    }


}